.idea
venv
__pycache__
advertiser/__pycache__
episodelist/__pycache__
scripts/__pycache__
intellect/__pycache__
tracker/__pycache__
vipers/__pycache__
episodemover/__pycache__
.pg_service.conf
.my_pgpass
vipers/settings.py
pages
training_sets
!advertiser/migrations/__init__.py
advertiser/migrations
!episodelist/migrations/__init__.py
episodelist/migrations
/__init__.py
!scripts/migrations/__init__.py
scripts/migrations
!intellect/migrations/__init__.py
intellect/migrations
!tracker/migrations/__init__.py
tracker/migrations
episodemover/migrations
subprocess.errlog
subprocess.log
mover_subprocess.errlog
mover_subprocess.log
debug.log
log
!log/none