{% extends 'base.html' %}
{% block content %}

<a href="/advertiser/activity_download" class="sul-btn" style="width: 20rem; float: right;">Скачать все</a>
<table id="activity">
    <thead>
    <tr>
        <th>Ссылка на форум</th>
        <th>Активность</th>
    </tr>
    </thead>
    <tbody>
    {% for record in records %}
    <tr>
        <td><a href="/advertiser/activity/{{ record.forum.id }}">{{ record.forum.domain }}</a></td>
        <td style="text-align: center">{{ record.activity }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
