{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 class="title-section">Рекламные шаблоны</h2>

<div id="forum-wrapper">
    {% for template in templates %}
    <div draggable="true" class="template-box sul-box-raised-2"><h3 class="forum-title" data-id="{{ template.id }}">{{ template.name }}
        <a href="/advertiser/templates/delete/{{ template.id }}" class="template-edit" title="Delete">✂️</a>
        <!--<a href="#" class="template-edit" title="Edit">🖊️</a>-->
    </h3>
        <pre class="bb-code">{{ template.code }} </pre>
    </div>
    {% endfor %}
</div>

<h2 class="title-section">Добавить</h2>
<div id="bot-form" class="block sul-box-raised-2">
    <form action="/advertiser/templates/{{ id }}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="sul-btn" value="Add">
    </form>
</div>

<script>
    FORUM_ID = {{ id }}
    csrf_token = "{{ csrf_token }}"
</script>
 <script src="{% static 'advertiser/drugndrop-templates.js' %}"></script>
{% endblock %}
