{% extends 'base.html' %}
{% load static %}
{% block content %}
    <input type="hidden" id="session_id" value="{{ session_id }}" />
    <div id="total-blocks">
    <div class="block sul-box-raised-2"><span class="block-title">Found</span>
        <div id="total"></div>
    </div>
    <div class="block sul-box-raised-2"><span class="block-title">Visited</span>
        <div id="visited"></div>
    </div>
    <div class="block sul-box-raised-2"><span class="block-title">Success</span>
        <div id="success"></div>
    </div>
    <div class="block sul-box-raised-2"><span class="block-title">Skipped</span>
        <div id="skipped"></div>
    </div>
    </div>

    <a class="sul-btn" id="stop">Stop</a>

    <div id="logs" class="sul-box-inset-1"></div>

    <script src="{% static 'advertiser/sockets.js' %}"></script>
    <script src="{% static 'advertiser/stop_session.js' %}"></script>
{% endblock %}