{% extends 'base.html' %}
{% block content %}
{{ forum.domain }}
<table id="activity">
    <thead>
    <tr>
        <th>Дата</th>
        <th>Активность</th>
    </tr>
    </thead>
    <tbody>
    {% for record in records %}

    <canvas id="chart"></canvas>

    <tr>
        <td>{{ record.day|date:"Y-m-d" }}</td>
        <td style="text-align: center">{{ record.activity }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx1 = document.getElementById('chart');
  {% autoescape off %}
const data = {{ data }};
{% endautoescape %}


 new Chart(ctx1, {
  type: 'line',
  data: data,
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Activity chart'
      }
    }
  },
});
  </script>
{% endblock %}
