<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/neumorphism-ui.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body class="light-mode">
<div id="wrapper">
    <div id="total-blocks">
    <div class="block sul-box-raised-2"><span class="block-title">Found</span>
        <div id="total"></div>
    </div>
    <div class="block sul-box-raised-2"><span class="block-title">Visited</span>
        <div id="visited"></div>
    </div>
    <div class="block sul-box-raised-2"><span class="block-title">Success</span>
        <div id="success"></div>
    </div>
    <div class="block sul-box-raised-2"><span class="block-title">Skipped</span>
        <div id="skipped"></div>
    </div>
    </div>
    <div id="logs" class="sul-box-inset-1"></div>

    <script src="{% static 'advertiser/sockets.js' %}"></script>
</div>
</body>
</html>