<html>
<body>
<p>Here will be the result:</p>
<div class="block"><span style="block-title">Total</span><div id="total"></div></div>
<div class="block"><span style="block-title">Visited</span><div id="visited"></div></div>
<div class="block"><span style="block-title">Success</span><div id="success"></div></div>
<div class="block"><span style="block-title">Skipped</span><div id="skipped"></div></div>
<div id="logs"></div>

{% load static %}
 <script src="{% static 'advertiser/sockets.js' %}"></script>
</body>
</html>