{% extends 'base.html' %}
{% block content %}

<a href="/intellect/crawler-start">Начать кроулинг</a>

<h3>Crawling</h3>
<table>
    <thead>
    <th>Session</th>
    <th>Date</th>
    <th>Page number</th>
    <th>Verified number</th>
    <th>Training set</th>
    </thead>
    <tbody>
    {% for record in records %}
    <tr>
        <td><a href="/intellect/session/{{ record.control_session_id }}">{{ record.session_id }}</a></td>
        <td>{{ record.time_start }}</td>
        <td style="text-align: center">{{ record.page_number }}</td>
        <td style="text-align: center">{{ record.verified_number }}</td>
        <td style="text-align: center">{{ record.training_set }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>



{% endblock %}
