{% extends 'base.html' %}
{% block content %}

<h3>Crawling session {{ session_id }} from {{ session_date }}</h3>

<a href="/intellect/page_redirect/{{ id }}">Проверить сет</a>
<table>
    <thead>
    <th>Verified</th>
    <th>Domain</th>
    <th>Page</th>
    <th>Deducted Topic ID</th>
    <th>Verified Topic ID</th>
    </thead>
    <tbody>
    {% for record in records %}
        <tr>
            <td id="verified_{{ record.id }}">{{ record.verified }}</td>
            <td>{{ record.domain }}</td>
            <td><a href="/intellect/page/{{ record.id }}" target="_blank">Open</a></td>
            <td>{{ record.automatic_topic_id }}</td>
            <td>{{ record.corrected_topic_id }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
     function verify(id) {
	    let verified = document.getElementById('verified_'+id)
        fetch("/intellect/verify/"+id)
        verified.innerHTML = "True"
      }
</script>
{% endblock %}