:root {
    --base-bg-custom: #252525 url(https://forumstatic.ru/files/001a/08/74/83032.png);

    --pun-custom: #333431;
    --pun-drop-custom:0 20px 45px 0 rgba(32, 34, 25, 0.2), 0 82px 82px 0 rgba(32, 34, 25, 0.17), 0 184px 110px 0 rgba(32, 34, 25, 0.1), 0 326px 131px 0 rgba(32, 34, 25, 0.03), 0 510px 143px 0 rgba(32, 34, 25, 0);

    --cover-custom: #2C2D2A;

    --text1-custom: #BAC1B4; /* black */
    --text2-custom: #545552; /* light black */
    --text3-custom: #FAFFEF; /*white*/
    --links-custom: #ED413E;
    --accent-custom: #A5DA86;

    --head-img-left-custom: url(https://forumstatic.ru/files/001a/08/74/59355.png);
    --head-img-right-custom: url(https://forumstatic.ru/files/001a/08/74/55112.png);
    --head-drop-custom: transparent;
    --tu-tu-custom: #5AA765;

    --cat-drop-custom: none;
    --cat-bg-custom: linear-gradient(42deg, #d4fc79 0%, #96e6a1 100%);
    --cat-numb-custom: #D4FC79;
    --cat-text-color-custom: #2C2D2A;

    --arrow-drop-custom:0 1px 1px 0 rgba(34, 35, 32, 0.1), 0 2px 2px 0 rgba(34, 35, 32, 0.09), 0 5px 3px 0 rgba(34, 35, 32, 0.05), 0 8px 3px 0 rgba(34, 35, 32, 0.01), 0 13px 4px 0 rgba(34, 35, 32, 0);

    --foo-custom: url(https://forumstatic.ru/files/001a/08/74/39285.png);

    --borders-custom: #3B3C39;

    --other-drop-custom: 0 1px 1px 0 rgba(34, 35, 32, 0.1), 0 2px 2px 0 rgba(34, 35, 32, 0.09), 0 5px 3px 0 rgba(34, 35, 32, 0.05), 0 8px 3px 0 rgba(34, 35, 32, 0.01), 0 13px 4px 0 rgba(34, 35, 32, 0);

    --tab-img-multiply-custom: #D4FC79;
    --tab-img-overlay-custom: rgba(212, 252, 121, 0.25);
}