:root {
	--base-bg-custom: #F2C8A0 url(https://forumstatic.ru/files/001a/08/74/84210.png);
	--pun-custom: #FAFFEF;
	--pun-drop-custom: 0 20px 45px 0 rgba(226, 169, 122, 0.2), 0 82px 82px 0 rgba(226, 169, 122, 0.17), 0 184px 110px 0 rgba(226, 169, 122, 0.1), 0 326px 131px 0 rgba(226, 169, 122, 0.03), 0 510px 143px 0 rgba(226, 169, 122, 0);

	--cover-custom: #F2F7E7;

	--text1-custom: #313430; /* black */
	--text2-custom: #BEC2B5; /* light black */
	--text3-custom: #FAFFEF; /*white*/
	--links-custom: #7AB82C;
	--accent-custom: #F5B792;

	--head-img-left-custom: url(https://forumstatic.ru/files/001a/08/74/94455.png);
	--head-img-right-custom: url(https://forumstatic.ru/files/001a/08/74/21063.png);
	--head-drop-custom: url(https://forumstatic.ru/files/001a/08/74/85932.svg);
	--tu-tu-custom: #D09C78;

	--cat-drop-custom: 0 3px 6px 0 rgba(245, 183, 146, 0.2), 2px 11px 11px 0 rgba(245, 183, 146, 0.17), 4px 24px 15px 0 rgba(245, 183, 146, 0.1), 8px 42px 17px 0 rgba(245, 183, 146, 0.03), 12px 66px 19px 0 rgba(245, 183, 146, 0);
	--cat-bg-custom: linear-gradient(42deg, #f5b792 0%, #ffe8bc 100%);
	--cat-numb-custom: #F5B792;
	--cat-text-color-custom: #313430;

	--arrow-drop-custom: 0 1px 1px 0 rgba(210, 215, 198, 0.1), 0 2px 2px 0 rgba(210, 215, 198, 0.09), 0 5px 3px 0 rgba(210, 215, 198, 0.05), 0 8px 3px 0 rgba(210, 215, 198, 0.01), 0 13px 4px 0 rgba(210, 215, 198, 0);

	--foo-custom: url(https://forumstatic.ru/files/001a/08/74/81807.png);

	--borders-custom: #E1E7D5;

	--other-drop-custom: 0 1px 1px 0 rgba(210, 215, 198, 0.1), 0 2px 2px 0 rgba(210, 215, 198, 0.09), 0 5px 3px 0 rgba(210, 215, 198, 0.05), 0 8px 3px 0 rgba(210, 215, 198, 0.01), 0 13px 4px 0 rgba(210, 215, 198, 0);

	--tab-img-multiply-custom: #FCC079;
	--tab-img-overlay-custom: rgba(252, 223, 121, 0.25);
}