{% extends 'base.html' %}
{% block content %}
<h2 class="title-section">Подсчет постов для банка</h2>
<h2 class="title-section">How it works</h2>
<p>Пользователь указывает дату, с которой ему нужно найти все свои посты, и скрипт находит их, считает количество символов,
считает полученную форумную валюту согласно заранее заданным настройкам, а потом выдает аккуратный список, который можно сразу копировать в банк.</p>

<h2 class="title-section">What to do</h2>
<p>Создайте на форуме новую страницу и установите туда скрипт ниже. Отредактируйте currency_dict, subforums и UserFld3 (встречается в коде в двух местах). </p>
<p><b>currency_dict</b> - это ваши настройки стоимости постов.
    <br /> - "one", "two" и "five" - это три варианта склонения названия вашей валюты. Одна шестеренка за пост, две шестеренки за пост, пять шестеренок за пост.
<br />  - "pricelist" - это ваш прайс-лист за посты. Считыются символы. В примере ниже за пост до 100 символов полагается одна шестеренка, до 200 - две шестеренки, от 301 и выше - четыре шестеренки.</p>
<p><b>subforums</b> - это номера подфорумов, в которых могут быть игровые посты. Не забудьте добавить архивные подфорумы.</p>
<p><b>UserFld3</b> - это поле в профиле, в котором у вас считается валюта. В поле не обязательно должно быть только число, там может быть написано что-то вроде "100 шестеренок". Скрипт сам найдет число в тексте.</p>

<pre style="width: 100%; overflow-x: scroll;">
{% autoescape on %}
{{ code }}
{% endautoescape %}
</pre>



{% endblock %}