{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 class="title-section">Статистика кликов</h2>

<div style="max-width: 300px"><canvas id="totalPieChart"></canvas></div>
<canvas id="dailyLineChart"></canvas>
<canvas id="hourlyLineChart"></canvas>

<h2>Источники переходов за последние 7 дней</h2>
<table id="origins">
  <thead>
  <th>Форум</th>
  <th>Кликов</th>
  <th>Средняя активность форума</th>
  </thead>
  <tbody>
  {% for origin in origins %}
  <tr>
    {% for o in origin %}
  <td style="text-align: right">{{ o }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
  </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx1 = document.getElementById('totalPieChart');
  const ctx2 = document.getElementById('dailyLineChart');
  const ctx4 = document.getElementById('hourlyLineChart');

{% autoescape off %}
const data1 = {{ data1 }};
{% endautoescape %}

  new Chart(ctx1, {
  type: 'pie',
  data: data1,
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Total click number for each bot run (last 7 days)'
      }
    }
  },
});


{% autoescape off %}
const data2 = {{ data2 }};
{% endautoescape %}


 new Chart(ctx2, {
  type: 'line',
  data: data2,
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Number of clicks per day for each bot run (last 7 days)'
      }
    }
  },
});

{% autoescape off %}
const data4 = {{ data4 }};
{% endautoescape %}


 new Chart(ctx4, {
  type: 'line',
  data: data4,
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Number of clicks during each hour for each bot run (combined for the last 7 days), Moscow time'
      }
    }
  },
});
</script>
{% endblock %}