<div>
  <canvas id="totalPieChart"></canvas>
  <canvas id="dailyLineChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx1 = document.getElementById('totalPieChart');
  const ctx2 = document.getElementById('dailyLineChart');
{% autoescape off %}
const data1 = {{ data1 }};
{% endautoescape %}

  new Chart(ctx1, {
  type: 'pie',
  data: data1,
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Total click number for each bot run'
      }
    }
  },
});


const data2 = {
  labels: ['2023-12-25', '2023-12-26'],
  datasets: [
    {
      label: 'Dec 24, 12:15',
      data: [{x: '2023-12-25', y: 20}, {x: '2023-12-26', y: 10}],
    },
    {
    label: 'Dec 24, 23:45',
      data: [{x: '2023-12-25', y: 2}, {x: '2023-12-26', y: 26}],
    }
  ]
};

 new Chart(ctx2, {
  type: 'line',
  data: data2,
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Chart.js Line Chart'
      }
    }
  },
});
</script>