{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 class="title-section">Статистика кликов</h2>

<div style="display: grid; grid-template-columns: 47% 47%; justify-content: space-between; justify-items: center; grid-row-gap: 1em;">
  <div><canvas id="totalPieChart"></canvas></div>
  <div><canvas id="refererPieChart"></canvas></div>
</div>
<canvas id="dailyLineChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx1 = document.getElementById('totalPieChart');
  const ctx3 = document.getElementById('refererPieChart');
  const ctx2 = document.getElementById('dailyLineChart');

{% autoescape off %}
const data1 = {{ data1 }};
{% endautoescape %}

  new Chart(ctx1, {
  type: 'pie',
  data: data1,
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Total click number for each bot run (last 7 days)'
      }
    }
  },
});

{% autoescape off %}
const data3 = {{ data3 }};
{% endautoescape %}

  new Chart(ctx3, {
  type: 'pie',
  data: data3,
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Total click number by origin (last 7 days)'
      }
    }
  },
});



{% autoescape off %}
const data2 = {{ data2 }};
{% endautoescape %}


 new Chart(ctx2, {
  type: 'line',
  data: data2,
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Chart.js Line Chart'
      }
    }
  },
});
</script>
{% endblock %}