{% extends 'base.html' %}
{% block content %}
{% load static %}

<div style="display: grid; grid-template-columns: 47% 47%; justify-content: space-between; justify-items: center; grid-row-gap: 1em;">
    <div class="sul-box-raised-1 with-hover">
        <a style="border-bottom: none;" href="/user-index">
            <img style="object-fit: cover; width: 100%;" src="{% static 'img/full.jpg' %}">
            <div style="padding: 10px 2px; font-size: 2em; text-align: center">АВТОМАТИЗАЦИЯ</div>
        </a>
    </div>

    <div class="sul-box-raised-1 with-hover">
        <a style="border-bottom: none;" href="/episodemover/index">
            <img style="object-fit: cover; width: 100%;" src="{% static 'img/move.jpg' %}">
            <div style="padding: 10px 2px; font-size: 2em; text-align: center">ПЕРЕНОС ЭПИЗОДОВ</div>
        </a>
    </div>

        <div class="sul-box-raised-1 with-hover">
        <a style="border-bottom: none;" href="/scripts">
            <img style="object-fit: cover; width: 100%;" src="{% static 'img/scripts.png' %}">
            <div style="padding: 10px 2px; font-size: 2em; text-align: center">СКРИПТЫ</div>
        </a>
    </div>

      <div class="sul-box-raised-1 with-hover">
        <a style="border-bottom: none;" href="/advertiser/actibity">
            <img style="object-fit: cover; width: 100%;" src="{% static 'img/stats.jpg' %}">
            <div style="padding: 10px 2px; font-size: 2em; text-align: center">АКТИВНОСТЬ ФОРУМОВ</div>
        </a>
    </div>
</div>

{% endblock %}
