{% extends 'base.html' %}
{% block content %}
<h2 class="title-section">{{ username }}'s Vault</h2>
{% if lock %}
<div class="warning-box sul-box-raised-1">⚠️ Если вы видите значок замка напротив "Запустить рекламу" и "Запустить партнерство", это значит, что кто-то другой уже использует бота.
Подождите, пока они закончат. В силу ограничений ресурсов серсера только один бот за раз может работать.</div>
{% endif %}
<div id="forum-wrapper">
{% for forum in forums %}
<div class="forum-box sul-box-raised-2"><h3 class="forum-title">{{ forum.name }}</h3>
<a href="{{ forum.domain }}">{{ forum.domain }}</a>
    <ul>
        <li><a href="advertiser/forum-edit/{{ forum.id }}">Редактировать</a></li>
        <li><a href="advertiser/templates/{{ forum.id }}">Рекламные шаблоны</a></li>
        {% if lock %}
        <li>Запустить рекламу 🔒
            {% if session_id %}
            <a href="advertiser/observe-advertiser-process/{{ session_id }}">Текущая сессия</a>
        {% endif %} </li>
        <li>Запустить партнерство 🔒</li>
        {% else %}
        <li><a href="advertiser/advertiser/{{ forum.id }}">Запустить рекламу</a></li>
        <li><a href="advertiser/partner/{{ forum.id }}">Запустить партнерство</a></li>
        {% endif %}
        <li><a href="advertiser/history/{{ forum.id }}">История работы</a></li>
    </ul>

</div>
    {% endfor %}
    </div>
<h2 class="title-section">Things To Know</h2>
<ul>
    <li>Каждый пользователь может быть управлять одним или несколькими форумами.</li>
    <li>Каждый пользователь может редактировать информацию о форуме, включая список партнерских тем и актуальный адрес рекламной темы.
        Все поля, кроме Custom login/Custom password после редактирования изменятся для всех админиистраторов данного форума.</li>
    <li>Поля Custom login/Custom password сохраняются индивидуально для каждого пользователя. Тем не менее настоятельно не рекомендуется
    сохранять в этих полях логин/пароль вашего администраторского или игрового аккаунта. Если вы хотите запустить рекламу от своего профиля,
        вы можете ввести свой логин и пароль позже, непосредственно в форме рекламы, без сохранения.</li>
    <li>Следите за тем, чтобы в настойках вашего форума всегда была актуальная рекламная тема.</li>
     <li>Если в форме рекламы вы не указали Custom Credentials, реклама на вашем форуме будет оставяться от стандартного профиля
     рекламы, но без обратной ссылки. </li>
</ul>
{% endblock %}
