{% extends 'base.html' %}
{% block content %}
<h2 class="title-section">{{ username }}'s Vault</h2>
<div id="forum-wrapper">
{% for forum in forums %}
<div class="forum-box sul-box-raised-2"><h3 class="forum-title">{{ forum.name }}</h3>
<a href="{{ forum.domain }}">{{ forum.domain }}</a>
    <ul>
        <li><a href="advertiser/forum-edit/{{ forum.id }}">Редактировать</a></li>
        <li><a href="advertiser/templates/{{ forum.id }}">Рекламные шаблоны</a></li>
        <li><a href="advertiser/advertiser/{{ forum.id }}">Запустить рекламу</a></li>
        <li><a href="advertiser/partner/{{ forum.id }}">Запустить партнерство</a></li>
    </ul>

</div>
    </div>
{% endfor %}
{% endblock %}
