{% extends 'base.html' %}
{% block content %}
<h2 class="title-section">{{ username }}'s Vault</h2>
<div id="forum-wrapper">
{% for forum in forums %}
<div class="forum-box sul-box-raised-2"><h3 class="forum-title">{{ forum.name }}</h3>
<a href="{{ forum.domain }}">{{ forum.domain }}</a>
    <ul>
        <li><a href="advertiser/forum-edit/{{ forum.id }}">Редактировать</a></li>
        <li><a href="advertiser/templates/{{ forum.id }}">Рекламные шаблоны</a></li>
        {% if lock %}
        <li>Запустить рекламу 🔒</li>
        <li>Запустить партнерство 🔒</li>
        {% else %}
        <li><a href="advertiser/advertiser/{{ forum.id }}">Запустить рекламу</a></li>
        <li><a href="advertiser/partner/{{ forum.id }}">Запустить партнерство</a></li>
        {% endif %}
    </ul>

</div>
    </div>
<p>Если вы видите значок замка напротив "Запустить рекламу" и "Запустить партнерство", это значит, что кто-то другой уже использует бота.
Подождите, пока они закончат. В силу ограничений ресурсов серсера только один бот за раз может работать.</p>
{% endfor %}
{% endblock %}
