<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/neumorphism-ui.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body class="light-mode">
<header class="sul-box-raised-2 sm">
    <div class="nav-container">


        <div id="nav-container">
            <div class="bg"></div>
            <div class="button" tabindex="0">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>
            <div id="nav-content"  class="sul-box-raised-3" tabindex="0">
                <ul>
                    <li><a href="/">Home</a></li>
                    {% if is_auth %}
                    <li><a href="/user-index">Мои форумы</a></li>
                    <li><a href="/episodelist/about">Список эпизодов</a></li>
                    <li><a href="/user-settings">Настройки</a></li>
                    {% else %}
                    <li><a href="/login">Вход</a></li>
                    {% endif %}
                    <li><a href="#0">Перенос эпизодов</a></li>
                     {% if is_auth %}
                      <li><a href="/logout">Выход</a></li>
                    {% endif %}
                     <li class="small"><a href="https://forum.viper-frpg.ovh">Форум</a> <a href="https://github.com/viper-f/vipers">github</a></li>
                    <li class="small">by Viper, 2023</li>
                </ul>
            </div>
        </div>


        <h2 id="brand-text">🐍 Viper's Vault</h2>
    </div>
</header>


<div id="wrapper">

    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

     {% block content %}
    {% endblock %}
</div>
</body>
</html>