<html>
<head>
    <title>FRPG Tools</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/neumorphism-ui.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body class="light-mode">
<header class="sul-box-raised-2 sm">
    <div class="nav-container">


        <div id="nav-container">
            <div class="bg"></div>
            <div class="button" tabindex="0">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>
            <div id="nav-content"  class="sul-box-raised-3" tabindex="0">
                <ul>
                    <li><a href="/">Home</a></li>
                    {% if is_auth %}
                    <li><a href="/user-index">Мои форумы</a></li>
                    <li><a href="/advertiser/activity">Активность форумов</a></li>
                    <li><a href="/tracker/modify">Шаблон для трэкинга</a></li>
                    <li><a href="/user-settings">Настройки</a></li>
                    {% else %}
                    <li><a href="/login">Вход</a></li>
                    {% endif %}
                    <li><a href="/scripts">Скрипты</a></li>
                     {% if is_auth %}
                      <li><a href="/logout">Выход</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>


        <h2 id="brand-text"><a href="/" style="border-bottom: none"><img style="height: 50px;" src="{% static 'img/logo.png' %}"></a></h2>
    </div>
</header>


<div id="wrapper">
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    {% if breadcrumbs is not None %}
       {% include "breadcrumbs.html" %}
    {% endif %}

     {% block content %}
    {% endblock %}
</div>

<footer>
    <span>
      Developed by viper, 2023 - 2024
    </span>

    <span>
      Brought to you by <a target="_blank" href="https://kingscross.f-rpg.me">KINGSCROSS</a>
    </span>
  </footer>
</body>
</html>
